Handbook/main.aux
Handbook/main.fdb_latexmk
Handbook/main.fls
Handbook/main.log
Handbook/main.out
Handbook/main.synctex.gz
Handbook/main.toc
ignored_folder
Handbook/photos/.$Diagram_Source.xml.dtmp
Introduction_Presentation/main.aux
Introduction_Presentation/main.fdb_latexmk
Introduction_Presentation/main.fls
Introduction_Presentation/main.log
Introduction_Presentation/main.nav
Introduction_Presentation/main.out
Introduction_Presentation/main.snm
Introduction_Presentation/main.synctex.gz
Introduction_Presentation/main.toc
Introduction_Presentation/main.vrb

Handbook/main.tex
Handbook/photos/.$Diagram_Source.xml.bkp
